numpy==1.21.0
pandas
geopandas
shapely
snakemake
matplotlib
pyyaml
descartes
fiona
rtree
plotly
rasterstats
networkx
pygraphviz
pygments
rasterio
dynaconf>=3.1.7
oemoflex @ git+https://git@github.com/rl-institut/oemoflex@dev#egg=oemoflex
