numpy==1.21.0
pandas
geopandas
shapely
snakemake
matplotlib
pyyaml
descartes
fiona
rtree
openpyxl==3.1.0
plotly
rasterstats
networkx
pygraphviz
pygments
rasterio
Jinja2==3.0.3
m2r2
sphinx-material
geopy
dynaconf>=3.1.7
oemoflex @ git+https://git@github.com/rl-institut/oemoflex@dev#egg=oemoflex
