pandas
geopandas
shapely
snakemake
matplotlib
pyyaml
descartes
fiona
rtree
plotly
rasterstats
networkx
pygraphviz
pygments
rasterio
oemof-B3 @ git+https://git@github.com/rl-institut/oemof-B3@dev#egg=oemof-B3